*{
    margin: 0px;
    padding: 0px;
}
/* banner section start */
.banner-photo{
    width:635px;
    height:700px;
    padding-right:100px;
}
.banner-container{
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display:flex;
 background-size: contain;
}
.banner-title{
color: #272727;
font-family: Lato;
font-size:80px;
font-weight:800;
padding:130px;
width:708px;


}
.banner-description{
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size:18px;
line-height:30px;
width:634px;
padding-left:120px;
padding-bottom: 200px;


}
.btn{
    padding:20px 43px;
    gap: 10px;
    border-radius:8px;
    border-collapse:none;
    background: #E55473;
    color: white;
    
    
}


/* featured section start */
.featured-section{
height:100vh ;
}

.featured-title{
    padding-top: 150px;
    color: #272727;
    text-align:center;
    font-family:Lato;
    font-size:40px;
    font-weight:800;
    
}

.featured-description{
    color: rgba(39, 39, 39, 0.60);
    padding-top:15px;
    text-align:center;
    font-family:Lato;
    font-size: 18px;
    font-weight:400;
    line-height:30px;
}.flower-section{
    display:flex;
   justify-content: space-evenly;
   
}
.flower-name{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    list-style:none;
    font-size: 24px;
    line-height: 35px;
    text-decoration-line:underline;
    color: #272727;
}
.left-pic,.middle-pic{
padding-right: 110px;
}


/* Deal section start */

.deal-section{
    width:1920px;
    height:620px;
    background-color:#E554730D;
    display: flex;
    margin-top:170px ;

}
.deal-content{
   

}

.deal-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
padding-left:500px;
padding-top: 190px;
font-weight: 800;

}
.deal-description{
padding-left:500px;
width: 594px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-top: 10px;
}

.deal-photo{
  padding-left: 300px;
  padding-top: 70px;
  width: 318px;
  height: 420px;
   
}
.btn2{
color: #FFF;
font-family: Lato;
font-size: 20px;
gap: 10px;
border-radius: 8px;
background: #E55473;
padding: 20px 43px;

   

}

/* instagram section start */
.instagram{
width: 1900px;
height: 700px;
}
.instagram-title{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-weight: 800;
padding-top: 100px;

}

.instagram-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-top: 20px;
}
.instagram-flower{
padding-top: 40px;
display: flex;
justify-content:space-evenly;
align-items: center;
margin:0px 200px;


}